{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> <!-- This is the link to the detail view where it first goes to the urls.py and match to the name for the view defined for the name "detail" where it then goes to the respective view and returns the response as defined within it -->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}